.matrix {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.matrix-row {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
